/*custom dropdown*/
@import './variable.css';
.ansul-dropdown .dropdown-menu {
  color: #FFF !important;
  padding-bottom: 0px;
  min-width: 250px;
  border: none;
  padding-top: 2px;
  margin-top: 0;
}
.ansul-dropdown .dropdown-menu > li {
  background: var(--main-color) none repeat scroll 0% 0%;
  color: #FFF !important;
  padding: 0px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.ansul-dropdown .dropdown-menu > li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ansul-dropdown .dropdown-menu > li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ansul-dropdown .dropdown-menu > li:hover {
  background: var(--main-color-hover) none repeat scroll 0% 0%;
}
.ansul-dropdown .dropdown-menu > li > a {
  padding: 10px 20px 10px 50px;
  color: #FFF !important;
  background-color: unset;
}
.ansul-dropdown .dropdown-menu.customDropdownGreen {
  background: #fff;
  border: 1px solid var(--main-color);
  padding: 0px 0px;
}
.ansul-dropdown .dropdown-menu.customDropdownGreen > li {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}
.ansul-dropdown .dropdown-menu.customDropdownGreen > li > a {
  color: var(--main-color) !important;
}
.ansul-dropdown .dropdown-menu.customDropdownGreen > li:hover > a {
  color: #fff !important;
}
.ansul-dropdown .dropdown-menu.customDropdownGreen::after {
  top: -17px;
}
.ansul-dropdown .dropdown-menu:hover {
  display: block;
}
.ansul-dropdown .dropdown-menu:hover ~ button {
  background: var(--main-color) !important;
}
.ansul-dropdown button .caret {
  margin-left: 10px;
}
.ansul-dropdown button:hover ~ .dropdown-menu {
  display: block;
}
@media only screen and (max-width: 768px) {
  .ansul-dropdown .dropdown-menu {
    margin-left: 0px;
    width: 100%;
  }
  .ansul-dropdown .dropdown-menu > li > a {
    text-align: center;
    padding: 10px 0;
  }
  .dashboardBlockFooter .more[aria-expanded="true"] {
    height: 35px !important;
  }
}
/*onoffswitch button submodule overview*/
.lable-onoffSwitch {
  margin-right: 10px;
  padding-top: 3px;
  margin-top: 15px;
  text-transform: unset !important;
}
.onoffswitch-wrap {
  display: flex;
  align-items: center;
}
.onoffswitch-wrap .onoffswitch {
  float: unset;
  margin-top: 0;
}
.onoffswitch-wrap .lable-onoffSwitch {
  padding-left: 10px;
}
.onoffswitch {
  position: relative;
  width: 56px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  float: right;
  margin-top: 15px;
}
.onoffswitch .onoffswitch-checkbox {
  display: none;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  text-transform: unset;
  border-radius: 5px;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner.JA-NEE:before {
  content: "Ja";
}
.onoffswitch .onoffswitch-label .onoffswitch-inner.JA-NEE:after {
  content: "Nee";
  padding-right: 3px;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner:before {
  display: block;
  float: left;
  width: 50%;
  height: 27px;
  padding: 0;
  line-height: 27px;
  font-size: 13px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  content: "aan";
  padding-left: 9px;
  background-color: var(--main-color);
  color: #FFFFFF;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 27px;
  padding: 0;
  line-height: 27px;
  font-size: 13px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  content: "uit";
  padding-right: 9px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch .onoffswitch-label .onoffswitch-switch {
  display: block;
  width: 16px;
  height: 20px;
  top: 0;
  margin: 4px 5.5px 8.5px;
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
  right: 25px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch.switch-edit.switch-nolabel {
  float: unset;
  margin-top: 0;
}
/*editable in form custom*/
.custom-editable-on .label-readonly {
  display: none;
}
.custom-editable-on .switch-edit {
  display: block;
}
.custom-editable .label-readonly {
  display: block;
}
.custom-editable .switch-edit {
  display: none;
}
.custom-editable > label {
  text-transform: none !important;
  border-bottom: 1px #ddd solid;
  cursor: text;
  height: 34px;
  padding: 6px 12px;
  color: #555;
  margin: 0px !important;
}
.custom-editable > input,
.createFormDetail .custom-editable > .radio-inline,
.custom-editable-on > label {
  display: none !important;
}
.custom-editable-on > .radio-inline {
  display: inline-block !important;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.blue-btn {
  padding: 15px 50px;
  color: #fff;
  background: var(--blue-color);
  border: 1px solid var(--blue-color);
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.blue-btn:hover {
  color: #fff;
  /* background: #2980b9; */
  background: var(--blue-color-hover);
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: var(--blue-color);
  border-color: var(--blue-color-hover);
}
.btn-primary:hover {
  background: var(--blue-color-hover);
}
.checkbox .fps-toggle .toggle-group .toggle-on {
  background-color: var(--main-color);
  border-color: var(--main-color-hover);
  margin: 0;
  padding: 7px 11px 7px 0;
}
.checkbox .fps-toggle .toggle-group .toggle-off {
  margin: 0;
  padding: 7px 0 7px 7px;
}
.checkbox label .toggle {
  width: unset !important;
}
.checkbox > label > span {
  text-transform: initial;
}
.btn-del-color {
  background: var(--blue-color) !important;
}
.btn-del-color:hover {
  background: var(--blue-color-hover) !important;
}
.btn-complete-color {
  background: #4473C5 !important;
  margin-right: 10px;
  border: 1px solid #337ab7 !important;
}
.btn-complete-color:hover {
  background: #1451bb !important;
}

.btn-zoek {
  padding: 10px 20px;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  border: 0 none;
  width: 200px;
  
}
.btn-zoek:hover{
  background-color: #2774a9;
}
.form-search-dashboard{
  display: flex;
  padding-top:30px;
}
.form-search-dashboard .form-input{
  margin-right:10px;
  flex:1;
}
.form-search-dashboard .form-input.search-input-field{
  flex:2;
}
.form-search-dashboard .form-input select{
  height: 100%;
}
.btn-search-new {
  padding: 10px 20px;
  color: #fff;
  background-color: #ddd;
  border-radius: 5px;
  border: 0 none;
  
}
.btn-search-new:hover{
  background-color: #2774a9;
}