body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
}


/* NOTE: Container */
.container {
    background-color: white;
    width: 1600px;
}


@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}@media (min-width: 1540px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1480px;
    }
}

/* NOTE: Font styles */
.breadcrumbs a {
    text-transform: capitalize;
}

.menuliparent,
.list-group-item a,
.hidetitle {
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;
}
.hidetitle {
    color: rgb(130, 130, 130);
}
.menuliparent,
.list-group-item a{
    color: rgb(51, 51, 51);
}
.closediv .hidetitle,
.caretevent .hidetitle {
    color: rgb(51, 51, 51) !important;
}

.title-page-head{
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
}
.dashboardBlockItems span{
    font-family: 'Poppins', sans-serif !important;
}
i.fa.fa-minus-circle{
    font-weight: 600;
}
span.badge.hidetitle{
    font-weight: 500;
}

/* bootstrap */
/* member: bootstrap */
.form-control, 
.menutext a,
.object-picker{
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    color: rgb(51, 51, 51);
    font-weight: 400;
}
.menutext {
    margin-top: 100px !important;
    text-transform: uppercase;
}

/* NOTE: Spacings */
#sidebar-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
ul.sidebar-nav {
    padding-left: unset !important;
}
ul.list-group {
    margin-bottom: unset;
}
li.list-group-item {
    background-color: unset;
    padding: 10px 20px;
}

.menuliparent.closecollapseall {
    background-color: rgba(240, 240, 240) !important;
    border-radius: 12px;
}
.menuliparent ul {
    padding-left: 25px !important;
}
.menuliparent a{
    display: flex;    
}

.menuliparent.closecollapseall a.caretevent{
    padding-top: 0px;
    padding-bottom: 0px;
}
.menuliparent a i{
    /* margin-top: auto; */
    margin-bottom: auto;
}
.sidebar-nav {
    margin-right: 20px;
    margin-top: 20px !important;
}
.menuliparent {
    margin-bottom: 20px !important;
}
li.menuliparent{
    padding: 10px 20px 10px 20px;
}
.sidebar-brand.menuliparent{
    display: none;
}

.fa-minus-circle{
    color: rgba(205, 0, 0, 1) !important;
}
.menuliparent .badge {
    background-color: rgba(205, 0, 0, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
}
.menuliparent .badge,
.menuliparent.closecollapseall .caret{
    margin-left: auto !important;
    float: right;
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
}

.help-text-button,
.prioIcon,
i { 
    /* width: 24px;
    height: 24px; */
    font-size: 24px !important;
}
.dashboardBlockHeader {
    display: flex;
    border-radius: 8px !important;
    padding: 16px 20px;
}
.dashboardBlockHeader h2{
    margin-right: 10px;
}
.prioIcon {
    position: inherit; 
    right: unset;
    top: unset;
    margin-left: auto;
}

/* Header search */
input.form-control,
button.btn.btn-default,
.object-picker.non-deselectable{
    background-color: rgba(240, 240, 240, 1);
}
.dashboardBlockFooter {
    margin-top: 30px;
}
.dashboardBlockFooter .more {
    background-color: rgba(240, 240, 240, 1);
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-radius: 5px !important;
}
.dashboardBlockFooter .more:hover {
    background-color: rgb(175, 173, 173);
}
  
.menuliparent .fa {
    margin-right: 20px;
}
.breadcrumbsWrapper {
    margin-top: 20px;
}
.breadcrumbsWrapper .help-text-button {
    margin-left: 20px !important;
    margin-bottom: 2px;
    font-size: 14px !important;
}
.menuliparent a i{
    margin-top: 5px;
}
.navbar-form .input-lg {
    padding: 0px 0px 0px 20px !important;
}
.navbar-form .group-btn,
.navbar-form input,
.navbar-form select {
    border: none;
    box-shadow: none;
    padding: 0px 20px 0px 20px !important;
    background-color: rgba(240, 240, 240);
}
.navbar-form .btn.btn-default {
    background-color: rgba(240, 240, 240);
    border: none;
    box-shadow: none;
    padding-left: 20px !important;
    padding-right: 20px !important;
   
}
.navbar-form .btn.btn-default {
    border-top-right-radius: 12 !important;
    border-bottom-right-radius: 12 !important;
}
.navbar-form select {
    border-top-left-radius: 12 !important;
    border-bottom-left-radius: 12 !important;

    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
button:-webkit-autofill,
button:-webkit-autofill:hover, 
button:-webkit-autofill:focus, 
button:-webkit-autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px rgba(240, 240, 240) inset !important;
}
  

.navbar-form .input-group {
    min-width: 10% !important;
}
.navbar-form input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
/* note: add container padding */
.container-right {
    padding: 0px !important;
}
*:focus {
    outline: none;
}
nav.navbar {
    padding-top: 20px !important;
    padding-right: 0px !important;
}
.nav.navbar-nav.navbar-right {
    margin: 0px !important;
    margin: 0px !important;

}
a.nav.navbar-nav{
    margin: 0px 10px !important;
}
.navbar-form .input-group-btn {
    margin: 0px;
    padding: 0px;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}
#searchType {
    height: 60px !important;
}
.navbar-form .input-group>.form-control {
    height: 60px !important;
}
.navbar-form .input-group-btn .btn {
    height: 60px !important;
}
.navbar-form .input-group-btn {
    width: 60px !important;
}
.navbar-form .input-group-btn .btn.btn-default{
    margin: 0px;
    padding: 16px !important;
    width: 100%;
}
.input-group.input-group-lg {
    max-width: 65% !important;
    height: auto;
    margin-left: -5px;
}
.input-group.input-group-lg input {
    padding-left: 20px;
    padding-right: 20px;
}

/* button */
#closeleftmenu span:first {
    border-radius: 50%;
    font-size: 24px !important;
}
.glyphicon.glyphicon-search,
i.fa.fa-bell.fa-stack-1x {
    color: rgba(130, 130, 130, 1) !important;
    font-size: 18px !important;
}

select, 
input,
.btn,
#closeleftmenu {
    padding: 16px 20px !important;
    display: flex;
}

.btn.btn-top-greenbg,
.dropdown.nav.navbar-nav button {
    background-color: rgba(24, 165, 165);
    border-radius: 8px !important;
    color: white;
}
.submitButtonRight {
    padding-right: 0px;
    display: flex;
}
.submitButtonRight .btn .fa {
    margin-right: 10px;
}
.submitButtonRight .btn {
    padding: 16px 20px !important;
    margin-left: auto;
}

#main {
    padding: 30px 15px !important;
    margin-top: 10px;
    background-color: rgba(240, 240, 240) !important;
}
.content-cards {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.content-cards .container-fluid {
    margin-top: 0px !important;
}

.closediv {
    padding: 0px !important;
}
span.badge:hover {
    color: white !important;
}
.closediv .badge {
    font-size: 24px !important;
    margin-right: 10px;
}
.closediv .hidetitle {
    margin-top: auto;
    margin-bottom: auto;
}
i.glyphicon.glyphicon-search {
    font-size: 24px !important;
}

/* mini menu */
#leftsidemenudiv .menuliparent ul {
    margin-top: 10px;
}
#leftsidemenudiv.active {
    padding-right: 0px !important;
    min-width: auto !important;
}
#leftsidemenudiv.active .menuliparent ul {
    padding-left: 0px !important;
}
#leftsidemenudiv.active li.list-group-item {
    padding-left: 0px !important;
}
#leftsidemenudiv.active .menuliparent a{
    margin-right: 0px !important;
}
#leftsidemenudiv.active .menuliparent.closecollapseall a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#leftsidemenudiv.active .menuliparent.closecollapseall {
    padding-right: 0px !important;
}


/* NOTE: hover */
.dashboardBlockItems li {
    padding-top: 10px;
    padding-bottom: 10px;
    background: unset !important;
}
.dashboardBlockItems li a {
    padding-left: 20px;
    padding-right: 20px;
    background: url(./forward-icon-user-dashboard.png) no-repeat scroll 97% center rgba(0, 0, 0, 0);
    background-size: 8px 15px;
}
.dashboardBlockItems li:hover {
    background-color: unset;
}
.dashboardBlockItems li a:hover {
    background-color: rgba(240, 240, 240);
    border-radius: 8px;
}
/* hover */
.menuliparent:hover {
    background-color: rgba(240, 240, 240);
    border-radius: 12px;
    font-weight: 700 !important;
}
.menuliparent:hover .hidetitle,
.menuliparent:hover .fa {
    color: black !important;
}
.menuliparent:hover .badge.hidetitle {
    color: white !important;
}
/* hover */
.breadcrumbs a {
    padding-left: 10px;
    margin-left: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.breadcrumbs a:hover {
    background-color: rgba(240, 240, 240);
    border-radius: 16px;
}
/* hover */
.nav.navbar-nav.navbar-right .btn:hover,
.submitButtonRight .btn:hover {
    background-color: rgba(18, 128, 128) !important;
}
.closediv:hover .badge {
    background-color: rgba(18, 128, 128) !important;
}
/* hover */
li.list-group-item:hover {
    font-weight: 700 !important;
}

.navbar-form:hover .glyphicon-search,
.glyphicon.glyphicon-search:hover,
i.fa.fa-bell.fa-stack-1x:hover  {
    color: rgba(51, 51, 51, 1) !important
}

.navbar-form:hover .input-lg *,
.navbar-form:hover .input-group-lg * {
    background-color:  rgba(230, 230, 230) !important;
}

/* images */
.dashboardBlockItems li.haschild {
    /* background: none; */
}