@import './variable.css';
#header h1{
	margin-top: 20px !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, body, p, th, td, li, ul, strong, input, select, textarea, label {
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
}

strong {
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 600;
}

html{
	margin-top:0px !important;
}

a{
	color:rgba(130, 130, 130, 1);
	text-decoration: none;
}

a:hover, a:focus{
	color: rgba(51, 51, 51, 1);
	text-decoration: none;
}

body{
	background-color: #F7F7F7;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 10px 0;
}

input,
select,
textarea {
	color: #555555;
	padding: 8px;
	width: 100%;
	box-shadow: inset 0 1px 1px #EEE;
	border:1px solid #DDD;
	border-radius: 4px;
	font-weight: 300;
}


input[type=checkbox], input[type=radio] {
	width: auto;
}

::-webkit-input-placeholder {
   color: #BBB;
   font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: #BBB;
   font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #BBB;
   font-weight: 300;
}

:-ms-input-placeholder {
   color: #BBB;
   font-weight: 300;
}

textarea{
	min-height: 150px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.statusGreen, .smallStatusGreen {
	background-color: var(--main-color);
	width: 10px;
	height: 10px;
	border-radius: 20px;
	display: inline-block;
	margin-right:5px;
}

.statusRed, .smallStatusRed {
	background-color: #e74c3c;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	display: inline-block;
	margin-right:5px;
}

.statusOrange, .smallStatusOrange {
	background-color: #f39c12;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	display: inline-block;
	margin-right: 5px;
}

.smallStatusGreen, .smallStatusRed, .smallStatusOrange {
	width: 8px;
	height: 8px;
}

.statusGreen.bigIcon, .statusRed.bigIcon, .statusOrange.bigIcon {
	width: 12px;
	height: 12px;
}

.iconPlus{
	background: url(./icon-menu-add.png) no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
	margin: 0 0 0 10px
}

.iconEdit{
	background: url(./icon-menu-copy.png) no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
	margin: 0 0 0 10px
}

.iconGear{
	background: url(./icon-menu-settings.png) no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
	margin: 0 0 0 10px
}

.iconSearch{
	background: url(./icon-menu-search.png) no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
	margin: 0 0 0 10px
}

.iconClose{
	background: url(./icon-menu-close.png) no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
	margin: 0 0 0 10px
}

.iconReport{
	background: url(./icon-menu-report.png) no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
	margin: 0 0 0 10px
}

.hiddenButton {
	display: inline-block;
	width: 15px;
	height: 25px;
}

/* hover-over text balloon that gives explanation */

.text-balloon {
	position: relative;
	width: 185px;
	height: 90px;
	padding: 0px;
	background: #34495e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 30px -12px 0 0;
	float: right;
	display: none;
}

	.text-balloon p {
		color: #FFF;
		padding: 15px 20px;
	}

.text-balloon:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #34495e transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -15px;
	left: 77px;
}

.dashboardBlockFooter:hover .text-balloon {
	display: block;
}

.topBarGreen {
	background: var(--main-color);
	padding-top:35px;
	padding-bottom:35px;
	margin-bottom: 40px;
}

	.topBarGreen h2 {
		color:#FFF;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
	}

.introText {
	text-align: center;
	padding-bottom: 30px;
}

	.introText p {
		color: #666;
		line-height: 1.75;
		font-weight: 300;
	}

.subHeaderSmall {
    font-size: 18px;
    padding-top: 20px;
    display: block;
}

.prioBlock {
	color: #FFF;
	border-radius: 6px;
	padding: 8px;
	margin-top: 11px;
	font-size: 12px;
}

.prioBlockHigh {
	background:#ac0000;
}

.prioBlockMedium {
	border:1px solid #f39c12;
	color:#f39c12;
	font-weight: 400;
}

#header{
	background-color: #ffffff;
	color: #fff;
	/* padding: 50px 0;
    padding-bottom: 75px; */
}

.headerIcons{
	margin: 13px 0 0 0;
	float: right;
}

	@media only screen and (max-width:768px) {

		.headerIcons{
			float: left;
		}

	}


/* VARIABLES - IMPORTANT */

.noBorder {
	border:0 none !important;
}

.backgroundWhite {
	background: #FFF !important;
}

.textCenter {
	text-align: center !important;
}

.textRight {
	text-align: right !important;
}

.greenHeader {
	background-color: #f3fafa !important;
}

.orangeHeader {
	background-color: #f39c12 !important;
}

.roundBorders:first-child {
	border-top-left-radius:5px;
}

.roundBorders:last-child {
	border-top-right-radius:5px;
}

.removeItem {
	color: #e74c3c;
	padding-top: 8px;
	padding-bottom: 10px;
	display: block;
}

	.removeItem:hover {
		color: #e74c3c;
	}

/* ALL GENERALS TABLES */

	.generalTable {
		margin-top:40px;
	}

		.generalTable td{
			padding: 10px;
			border-right: 1px solid #ddd;
			text-align: center;
		}
			.generalTable td:last-child{
				border-right: none;
			}

			.generalTable th:last-child{
				border-right: none;
			}

		.generalTableHeader {
			background-color: #f3fafa;
			color: #18a5a5;
			padding: 30px 10px;
			font-weight: 800;
			min-height: 105px;
		}

			.generalTableHeader h2 {
				font-size: 20px;
				margin:0;
			}

		.generalTableItem {
			background-color: #fff;
			color: #33383d;
			padding: 0;
		}

			.generalTableItem .fa-check {
				color: var(--main-color);
				font-size: 18px;
			}

			.generalTableItem .fa-times {
				color: #DF670C;
				font-size: 18px;
				padding: 0 10px;
			}


			.generalTableItem ul{
				margin: 0;
				padding: 0;
			}

				.generalTableItem li {
					list-style-type: none;
					border-bottom: 1px solid #ddd;
					background: url("./forward-icon-user-dashboard.png") no-repeat scroll 97% center rgba(0, 0, 0, 0);
				}

				.generalTableItem li:last-child{
					border-bottom: none;
				}

				.generalTableItem li:hover, tr.generalTableItem:hover {
					background-color: #ecf0f1;
				}

				.generalTableItem:hover td {
					background-color: #ecf0f1 !important;
				}

				.generalTableItem li:after {
					background: url('./forward-icon-user-dashboard.png');
					float: right;
					color: #f39c12;
				}

					.generalTableItem li a {
						padding: 20px;
						color: #333;
						display: block;
						text-decoration: none;
					}

	.generalTableItemIcon td:last-child {
		padding: 20px 10px;
		list-style-type: none;
		background-image: url("./forward-icon-user-dashboard.png");
		background-attachment: scroll;
		background-repeat: no-repeat;
		/* background-color: #fff; */
		background-position: right 15px center;
		padding-right: 30px;
		background-size: 8px 15px;
		/*background: url("./forward-icon-user-dashboard.png") no-repeat scroll 98% center #FFF;*/
	}

	.generalTableItemIcon td:last-child:empty {
		padding: 30px 10px;
	}

	.generalTableItem.odd {
		background: #ffffff !important;
	}
	.generalTableItem.even {
		background: #fafafa !important;
	}
	/* .generalTableItemIcon.odd td:last-child {
		background: blue !important;
	}
	.generalTableItemIcon.odd td:last-child:hover{
		background: #fff !important;
	} */

	.tableSeeMore {
		background:#3498db;
	}

		.tableSeeMore td {
			border: 0 none;
			padding: 4px 30px 4px 4px;
		}

			.tableSeeMore .fa-caret-down {
				color: #FFF;
			}

			.generalTable .tableArrowDown {
				text-align:left;
			}

	@media only screen and (max-width:1200px) {}
	@media only screen and (max-width:992px) {}
	@media only screen and (max-width:768px) {

		.generalTable td {
			display: block;
		    /*float: left;*/
		    width: 100%;
		    max-width: 100%;
		    padding: 5px;
		    border: 0 none;
		}

			.generalTableItemIcon td:last-child {
				background: url("./forward-icon-user-dashboard.png") no-repeat scroll 96% 30% #FFF;
				padding: 0;
			}

			.generalTable td:first-child {
				padding: 15px 5px 5px 5px;
			}

			.generalTable td:last-child {
				padding: 5px 5px 15px 5px;
			}

		.roundBorders:first-child {
			border-top-right-radius: 5px;
		}

		.generalTable .tableArrowDown {
			text-align:center;
		}

		.generalTableItem .fa-check {
			font-size: 21px;
		}

		.generalTableItem .fa-times {
			font-size: 21px;
		}

	}


/* ALL DASHBOARD BLOCKS */

	#dashboard,	#dashboardUser{
		margin-top: 60px ;
		margin-bottom: 60px ;
	}

	.dashboardBlock {
		min-height: 340px;
		padding: 20px;
		background-color:white;
		border-radius:8px;
	}

	.moduleBlock {
		padding: 20px;
		background-color:white;
		border-radius:8px;
		margin-bottom: 30px;
	}

	.moduleBlockHeader {
		background-color: rgba(240, 240, 240, 1);
		border-radius: 8px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 20px 15px;
	}

	.dashboardBlockSmall {
		min-height: 220px;
	}

		.dashboardBlockHeader{
			background-color: rgba(240, 240, 240, 1);
    		border-radius: 8px;
			color: #fff;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			padding: 20px 15px;
		}

			.dashboardBlockHeader h2 {
				font-size: 20px;
				margin:0;
				max-height: 22px;
				overflow: hidden;
				max-width: 90%;
				color: rgba(52, 52, 52, 1);
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
			}

			.dashboardBlockHeader p {
				margin-bottom: 15px;
			}

				.dashboardBlockHeader.prio{
					/* background-color: #e74c3c; */
				}
				.dashboardBlockHeader.prio h2{
					max-width: 85%;
				}
				.col-md-3 .dashboardBlockHeader.prio h2{
					max-width: 82%;
				}

	.dashboardBlockHeader .icons{
	    position: absolute;
	    right: 30px;
	    top: 8px;
	}

		.dashboardBlockHeader .icons span {
		    clear: both;
		    display: block;
		    margin: 7px 0;
		}

		.dashboardBlockHeader .icons span{
			background-color: #fff;
		}

		.dashboardBlockHeader .icons span.statusGreen.active{
			background-color: var(--main-color);
		}

		.dashboardBlockHeader .icons span.statusOrange.active{
			background-color: #f39c12;
		}

		.dashboardBlockHeader .icons span.statusRed.active{
			background-color: #e74c3c;
		}

	.newDashboardBlock{
		color:#fff;
		min-height: 300px;
	}

		.newDashboardBlock a {
			background-color: #3498db;
			border-radius: 5px;
			display: block;
			overflow: hidden;
		}

		.newDashboardBlock a:hover {
			background-color: #2980b9;
		}

	.addNew {
		background: url(./icon-first_time-add-big.png) no-repeat center center;
		width: 100%;
		height: 265px;
		display: block;
		margin: 0 auto;
	}

	.dashboardBlockFooter {
		/*background-color: #fff;*/
		min-height: 22px;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
	}

		.dashboardBlockFooter .more{
			background: url('./icon-module-see_more.png') no-repeat center;
			background-color: #3498db;
			color: #fff;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
			text-align: center;
			min-height: 22px;
			border-right:1px solid #fff;
			height: 10px;
		}

		.dashboardBlockFooter .more[aria-expanded="true"]{
			background: url('./icon-module-see_less.png') no-repeat center;
			background-color: #3498db;
			color: #fff;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
			text-align: center;
			min-height: 22px;
			border-right:1px solid #fff;
			height: 10px;
		}

		.dashboardBlockFooter .add{
			background: url('./icon-module-add.png') no-repeat center;
			background-color: #3498db;
			color: #fff;
			border-bottom-left-radius:0px;
			border-bottom-right-radius:5px;
			text-align: center;
			min-height: 22px;
			border-left:1px solid #fff;
			height: 10px;
		}

			.dashboardBlockFooter .more:hover,
			.dashboardBlockFooter .add:hover{
				background-color: #2980b9;
			}

	@media only screen and (max-width:1200px) {}
	@media only screen and (max-width:992px) {

		#dashboardUser .dashboardBlock {
			min-height: auto;
			padding-bottom: 40px;
		}

		.dashboard-admin-locatie .dashboardBlockFooter .more {
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
		}

	}

	@media only screen and (max-width:768px) {

		#dashboard, #dashboardUser {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.dashboardBlock {
			min-height:auto;
			padding-bottom: 40px;
		}

			.dashboardBlockFooter .more {
				height: 35px;
				border-right: 0 none;
				border-bottom: 1px solid #FFF;
				border-bottom-left-radius:0px;
				border-bottom-right-radius:0px;
			}

			.dashboardBlockFooter .add {
				height: 35px;
				border:0 none;
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
			}
	}

/* ALL STANDARD FORMS */

	.createForm {
		margin: 50px auto 0 auto;
	}

		.createForm form{
			display: block;
		}

			.createFormDetail {
				padding: 10px 0;
			}

				.createFormDetail label{
					text-transform: uppercase;
					display: block;
					vertical-align: middle;
					font-weight: 400;
					margin: 4px 0;
				}

				.createForm input, .createForm select, .createForm textarea {
					box-shadow: inset 0 1px 1px #EEE;
					border:1px solid #DDD;
					border-radius: 4px;
					font-weight: 300;
				}

				.createFormDetail .submitButtons .greenBtn, .createForm .submitButtons .blueBtn {
					border-radius: 6px;
					box-shadow: none;
					border: 0 none;
				}

				.createFormDetail .fa {
					color: #3498db;
					padding-left: 6px;
				}

			.createFormLinks {
				margin-top: 20px;
			}

				.createFormLinks a {
					display: block;
				}

					.createFormLinks a:first-child {
						padding-bottom: 8px;
					}

	.row.submitButtons {
    	/* margin: 30px 0 40px 0; */
    	margin: 30px 0 160px 0;
    	padding-top: 40px;
    	border-top: 1px solid #ddd;
	}

		.submitButtons button {
			border: 0 none;
			text-align: center;
		}

			.submitButtons .blueBtn{
				padding: 15px 50px;
				color: #fff;
				/* background: #3498db; */
				background: var(--main-color);
				border:1px solid var(--main-color);
				border-radius: 8px;
				display: inline-block;
				text-align: center;
				margin-left: 10px;
			}

				.submitButtons .blueBtn:hover{
					padding: 15px 50px;
					color: #fff;
					/* background: #2980b9; */
					background: var(--main-color-hover);
					text-decoration: none;
				}


			.submitButtons .greenBtn{
				padding: 15px 50px;
				margin-right: 10px;
				color: #fff;
				background: var(--main-color);
				border-radius: 8px;
				display: inline-block;
			}

				.submitButtons .greenBtn:hover{
					padding: 15px 50px;
					color: #fff;
					background: var(--main-color-hover);
					text-decoration: none;
				}

	.submitButtonRight {
		text-align: right;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.fa-caret-down {
		padding-left: 8px;
	}

	@media only screen and (max-width:1200px) {}
	@media only screen and (max-width:992px) {}
	@media only screen and (max-width:768px) {

		.submitButtons .greenBtn, .submitButtons .blueBtn, .submitButtons .btn-group {
			display: block;
			width: 100%;
			text-align: center;
		}

		.submitButtons .greenBtn {
			margin-bottom: 20px;
		}

		.submitButtons .blueBtn {
			margin-left:0;
		}

	}



/* ---------------------------*/
			/*LOGIN*/
/* ---------------------------*/

#login{
	background:#33383d;
	width: 100%;
	height: 100%;
	position: fixed;
	display: inline-block;
}

	#loginBox{
		background:#f7f7f7;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    border: 1px solid black;
	    width: 300px;
		height: 275px;
		padding: 20px;
		text-align: center;
		border-radius: 5px;
	}

.logoSmall{
	background: url(./FPSupport-logo.png) no-repeat;
	background-position: center top !important;
    background-size: 100% auto !important;
    width: 200px;
    height: 70px;
    display: block;
    position: relative;
    margin: 0 auto 20px;
}

.loginForm{
	display: block;
}
	.loginForm input{
		padding: 10px;
		/*border-radius: 5px;*/
		display: block;
		border: 1px solid #ddd;
		width: 100%;
	}

	.loginForm input[type="text"]{
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		border-bottom: none;
	}
	.loginForm input[type="password"]{
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
	}

		.loginForm .submitBtn{
			padding: 10px;
			color: #fff;
			background: #3498db;
			margin: 20px 0;
			border: 0 none;
			box-shadow: none;
			border-radius: 6px;
			display: block;
		}

			.loginForm .submitBtn:hover{
				padding: 10px;
				color: #fff;
				background: #2980b9;
				margin: 20px 0;
			}

	.forgotPass{
		color:#3498db;
	}

/* ---------------------------*/
   /*dashboard- first time*/
/* ---------------------------*/



.tableBlock {
	margin:30px 0;
	min-height: auto;
}

.prioIcon {
    position: absolute;
    right: 43px;
    top: 40px;
}

.prioIconSmall {
    position: absolute;
    right: 15px;
    top: 0px;
    background: url('./icon-module-user_specific-exclamation.png') no-repeat center;
    height:45px;
    width: 45px;
}

.dashboardBlockItems{
	background-color: #fff;
	color: #33383d;
	padding: 0;
}

	.dashboardBlockItems .col-md-12{
		margin: 0;
		padding: 0;
	}
		.dashboardBlockItems ul{
			margin: 0;
			padding: 0;
		}

			.dashboardBlockItems li{
				list-style-type: none;
				border-bottom: 1px solid #ddd;
				background: url("./forward-icon-user-dashboard.png") no-repeat scroll 97% center rgba(0, 0, 0, 0);
				background-size: 8px 15px;

			}

			.dashboardBlockItems li.haschild{
				list-style-type: none;
				border-bottom: 1px solid #ddd;
				/*background: url("./forward-icon-user-dashboard-down.png") no-repeat scroll 97% 25px rgba(0, 0, 0, 0);*/
				background: transparent url("./forward-icon-user-dashboard-down.png") no-repeat scroll 97% 25px;
			}
			/*.dashboardBlockItems li.haschild:hover{
				list-style-type: none;
				border-bottom: 1px solid #ddd;
				background: transparent url("./forward-icon-user-dashboard-down.png") no-repeat scroll 97% 25px;
			}*/
			.dashboardBlockItems li.haschild:hover ul{
				background-color: #fff;
			}

				.dashboardBlockItems li a {
					padding: 10px 0px;
					color: #333;
					display: block;
					text-decoration: none;
				}

			.dashboardBlockItems li:last-child{
				/*border-bottom: none;*/
			}

			.dashboardBlockItems li:hover{
				background-color: #ecf0f1;
			}

			.dashboardBlockItems li:after{
				background: url('./forward-icon-user-dashboard-down.png');
				float: right;
				color: #f39c12;
			}


/* ---------------------------*/
   /*dashboard- USER*/
/* ---------------------------*/

#dashboardUser {
	margin-top:0;
	margin-bottom: 0;
}

	.userInfoBlock, .userDashboardView {
		display: table-cell;
		float: left;
		padding-top:30px;
	}

	@media only screen and (max-width:768px) {

		.userInfoBlock, .userDashboardView {
			display:block;
			float:none;
			padding-top:30px;
		}

	}

	.userInfoBlockFullHeight {
		height: 100%;
		/*overflow: auto;*/
	}

.userInfoBlock{
	background-color: #fff;
	position: relative;
	height: 100%;
	width: 100%;
}

	.userInfoBlock h2{
		text-align: center;
		font-size: 28px;
		font-weight: normal;
		letter-spacing: 0.5px;
		margin: 35px 0 15px 0;
	}

	.userInfoBlock p{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 35px;
		color: #78848e;
		font-size: 12px;
		letter-spacing: 0.5px;
	}

.userImage{
	display: block;
	margin-bottom:35px;
	margin-top: 0px;
}

	.userImage img{
		width: 150px;
		height: 150px;
		margin: 0 auto;
		text-align: center;
		display: block;
	}

.sideMenuBlock{
	display: block;
}

	.sidemenuBlockHeader {
		background-color: #33383d;
		color: #fff;
		text-align: left;
		padding:15px;
	}

		.sidemenuBlockHeader h2{
			font-size: 20px;
			text-align: left;
			font-size: 18px;
			margin:0;
			font-weight: normal;
		}

			.sidemenuBlockHeader.prio{
				background-color: #e74c3c;
			}

	.sidemenuBlockItems {
		padding: 0;
	}

	.sidemenuBlockItems .col-md-12{
		margin: 0;
		padding: 0;
	}
		.sidemenuBlockItems ul{
			margin: 0;
			padding: 0;
		}

			.sidemenuBlockItems li{
				padding: 20px;
				list-style-type: none;
				border-bottom: 1px solid #ddd;
				background: url(./forward-icon-user-dashboard.png) no-repeat 97% center;
			}

			.sidemenuBlockItems li:last-child{
				border-bottom: none;
				margin-bottom: 30px;
			}

			.sidemenuBlockItems li:hover{
				background-color: #ecf0f1;
			}

			.meldingenDropdown a {
				background: #3498db;
				display: block;
				color: #FFF;
				padding:10px 13px;
				font-size: 18px;
				margin-bottom: 20px;
			}

				.meldingenDropdown a:hover {
					text-decoration: none;
					background:#2980b9;
				}

.sidemenuBlockHeader .icons{
    position: absolute;
    right:30px;
    top: 15px;
}

	.sidemenuBlockHeader .icons span{
		background-color: #fff;
	}

	.sidemenuBlockHeader .icons span.statusGreen.active{
		background-color: var(--main-color);
	}

	.sidemenuBlockHeader .icons span.statusOrange.active{
		background-color: #f39c12;
	}


.deadlineText {
	display: block;
	color: #AAA;
	font-style: italic;
	padding-top:3px;
}

.meldingText {
	display: block;
	color: #f39c12;
	font-style: italic;
	padding-top:3px;
}



/* ---------------------------*/
   /*dashboard- CERATE JOB
/* ---------------------------*/

.jobModule{
	background: #fff;
}

.infoText{
	background-color: #fff;
	display: block;
	min-height: 100px;
}

	.infoText p {
	    margin: 40px 0;
	    vertical-align: middle;
	    color: #78848e;
	}

#greenRow{
	background-color: var(--main-color);
	color: #fff;
	padding: 50px 0;

}

#greenRow.row{
	margin-left: 0px ;
    margin-right: 0px;
}

	#greenRow h2{
		text-transform: uppercase;
		font-size: 20px;
		padding: 0;
		margin-bottom: 15px;
		margin-top: 0;
	}

	#greenRow .col-md-4{
		text-align: center;
	}

		#greenRow select{
			padding: 5px;
			min-width: 200px;
			color: #78848e;
		}

/* --------------------------------------------------*/
   /*dashboard- ADMIN list & dashboard- locaties */
/* --------------------------------------------------*/

.locaties .dashboardBlock{
	width: 100%;
}

.locaties .dashboardBlockHeader{
	border-top-left-radius:0px ;
	border-top-right-radius:0px ;
}
.locaties th:first-child{
	border-top-left-radius:5px ;
}
.locaties th:last-child{
	border-top-right-radius:5px ;
}

.admin .dashboardBlockItems.roundBorders {
	border-top-left-radius:5px ;
	border-top-right-radius:5px ;
}

.admin .dashboardBlockItems.roundBorders li:last-child,
.admin.adminList .dashboardBlockItems.roundBorders li:last-child,
.admin.adminList .dashboardBlockItems{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

	.admin .dashboardBlock,
	.locaties .dashboardBlock{
		margin-top: 30px;
		margin-bottom: 30px;
		min-height: 200px;
	}





.breadcrumbsWrapper {
	background: #FFF;
}

	.breadcrumbs {
		background: #FFF;
		padding-bottom:15px;
	}

		.breadcrumbs a{
			/* color: #3498db; */
			text-decoration: none;
			text-transform: uppercase;
			color: rgba(79, 79, 79, 1);
			font-style: normal;
			font-family: Poppins;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			opacity: 0.5;
		}

		.breadcrumbs a:last-child{
			color: rgba(79, 79, 79, 1);
			font-style: normal;
			font-family: Poppins;
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
			opacity: 1;
		}

			.breadcrumbs a:after{
				content: ">";
				margin: 0 10px;
				color: rgba(79, 79, 79, 1);
				font-style: normal;
			font-family: Poppins;
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
			}

			.breadcrumbs a:last-child:after{
				content: "";
				margin: 0 10px;
				color: rgba(79, 79, 79, 1);
				font-style: normal;
			font-family: Poppins;
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
			}

table{
	width: 100%;
}

table th{
	padding: 20px;
	text-align: center;
	border-right: 1px solid #fff;
}

table tbody.dashboardBlockItems{
	background: none;
}

table tr{
	border-bottom: 1px solid #ddd;
	margin: 50px!important;
	padding: 50px 0;
}

table tr:last-child{
	border-bottom:none;
}

table tbody.dashboardBlockItems{
	background-color: none!important;
}


.dashboardBlockItems tr:last-child td:first-child{
	border-bottom-left-radius:5px ;
}

.dashboardBlockItems tr:last-child td:last-child{
	border-bottom-right-radius:5px ;
}

.dashboardBlockItems tr.tableRow td{
	background-color: #fff;
}

	.dashboardBlockItems tr.tableRow:hover td{
		background-color: #ecf0f1 !important;
	}

	.dashboardBlockItems tr.tableRow td:last-child {
		padding: 20px;
		list-style-type: none;
		background: url("./forward-icon-user-dashboard.png") no-repeat scroll 92% center #FFF;
	}
/*
@media(max-width: 768px){
	.headerIcons{
		float: left;
	}
	.headerIcons a:first-child{
		float: left;
	}

	table th{
		display: none;
	}

	.dashboardBlockItems{
		background-color: none;
	}

	table tr{
		background-color: #fff;
	}

	table td{
		display: block;
		text-align: left;
		padding: 5px;
		margin: 5px;
		border-right: none;
		border-bottom: 1px solid #ddd;
	}

	table td:last-child{
		border-bottom: none;
	}

	table td:last-child:after{
		content: none;
	}


	table .dashboardBlockItems tr::after{
		background-color: #f39c12;
		color: #fff;
		content:">";
		display: block;
		width: 100%;
		padding: 10px;
		float: right;
		text-align: right;
	}

}


*/

/* --------------------------------------------------*/
   /* admin instellingen (settings) */
/* --------------------------------------------------*/


/* --------------------------------------------------*/
   /* create jobs */
/* --------------------------------------------------*/

	.jobDrop h2 {
		margin-bottom: 12px;
		font-size: 22px;
	}

	@media only screen and (max-width:992px) {

		.jobDrop {
			margin-top: 30px;
		}

			.jobDrop:first-child {
				margin-top: 0;
			}

			.jobDrop h2 {
				font-size: 22px;
			}

	}


/* --------------------------------------------------*/
   /* create module */
/* --------------------------------------------------*/

	.createModuleDetail {
		text-align: center;
		padding: 35px;
    	margin-bottom: 30px;
    	border: 1px solid #DDD;
	}

		.kiesJobMelding:last-child {
			border-bottom: 0 none;
		}

		.createModuleDetail label {
			padding-bottom: 10px;
			font-size: 17px;
		}

		.createModuleDetail .fa {
			position: absolute;
			right: 25px;
			padding: 12px 0 0;
		}

	.kiesSubmodule input {
		margin-bottom: 15px;
	}

	.kiesSubmodule a {
		font-size: 12px;
	}

	.kiesJobMelding {
	}

		.kiesJobMelding h4 {
			padding-bottom: 30px;
			font-size: 18px;
			text-transform: uppercase;
		}


		.kiesJobMelding div {
			margin-bottom: 30px;
		}

			.kiesJobMelding div:first-child {
				margin-bottom: 0;
			}


			.kiesJobMelding select {
				margin-bottom: 8px;
			}

			.kiesJobMelding label {
				font-size: 13px;
				padding-bottom: 5px;
			}

			.kiesJobMelding a {
				font-size: 12px;
				padding-top: 12px;
				display: block;
			}

			.kiesJobMelding .submitButtons {
				margin-bottom: 0;
			}

				.kiesJobMelding .submitButtons .blueBtn, .kiesJobMelding .submitButtons .greenBtn {
					margin: 0;
					display: block;
				}

	.aangemaakteJobs label {
		color: #BBB;
	}

	.aangemaakteJobs .fa {
		padding-top: 0;
		position: static;
		padding-left: 8px;
	}

	.aangemaakteJobs .fa-pencil {
		color: var(--main-color);
	}

	.createModule .row.submitButtons {
		border-top: 0 none;
		padding-top: 15px;
	}

	@media only screen and (max-width:991px) {

		.createModule {
			margin-top: 30px;
		}

		.aangemaakteJobs h4 {
			padding-top: 30px;
		}


}



/* --------------------------------------------------*/
   /* deactiveer jobs */
/* --------------------------------------------------*/


.deactiveer-jobs .dashboardBlockItems tr.tableRow td:last-child {
	background-image:none;
}

.dashboardBlockItems input {
	width: 20%;
	text-align: center;
}

.deactiveer-jobs .submitButtons {
	text-align: right;
	float: right;
}


/* --------------------------------------------------*/
   /* dashboard op locatie */
/* --------------------------------------------------*/

.dashboard-admin-locatie .dashboardBlockItems li:last-child {
	border-top: 1px solid #DDD;
}

	.subDashboardActions li  {
		border-bottom: 1px solid #F3F3F3;
	    padding: 16px 20px 14px 42px;
	    font-size: 12px;
	    color: #999;
	    background-image:none;
	    letter-spacing: 0.2px;
	}

		.subDashboardActions li:last-child {
			border-top:0 none;
			border-bottom: 1px solid #DDD;
		}

		.dashboard-admin-locatie .dashboardBlockFooter .more {
			border-bottom-left-radius: 5px;
    		border-bottom-right-radius: 5px;
		}


/* --------------------------------------------------*/
   /* zoekresultaten */
/* --------------------------------------------------*/

	.zoekModuleWrapper {
		width: 100%;
		background: #FFF;
	}

		.zoekModule {
			padding-top: 18px;
			padding-bottom: 18px;
		}

			.zoekModule h3 {
				padding-bottom: 12px;
				color: #33383D;
			}

			.zoekModule input {
				color: #78848e;
				padding: 8px;
				border-radius: 8px;
				border: 1px solid #BBB;
				width: 100%;
				margin-top: 11px;
				font-weight: normal;
				color: #33383d;
			}

			.zoekModule button {
				padding: 10px 20px;
				color: #fff;
				background: #3498db;
				margin: 10px 0;
				border-radius: 5px;
				border: 0 none;
				width: 100%;
			}


	.filterModuleWrapper {
		background: #3498db;
	}

		.filterModule {
			padding-top: 15px;
			padding-bottom: 15px;
		}

			.filterModule ul {
				padding: 0;
				margin: 0;
				text-align: center;
			}

				.filterModule li {
					display: inline-block;
					list-style-type:none;
					width:20%;
					text-align: center;
				}

					/*.filterModule li:first-child {
						text-align: left;
						width: 10%;
					}

					.filterModule li:last-child {
						text-align: right;
						width: 16%;
					}*/

					.filterModule li a {
						color: #FFF;
						text-decoration: none;
						text-transform: uppercase;
					}

	.zoekResultatenWrapper {}

		.zoekResultatenItem {
			border-bottom: 1px solid #DDD;
			padding-top:25px;
			padding-bottom:25px;
		}

			.zoekResultatenItem p {
				color: #666;
				font-weight: 300;
				line-height: 1.8;
			}

/* --------------------------------------------------*/
   /* deactiveer jobs */
/* --------------------------------------------------*/


.job-buffer .dashboardBlockItems tr.tableRow td:last-child {
	background-image:none;
}

.dashboardBlockItems input {
	width: 20%;
	text-align: center;
}

.job-buffer .submitButtons {
	text-align: right;
	float: right;
}

	.job-buffer .submitButtons .blueBtn {
		margin-left: 8px;
	}


@media only screen and (max-width:768px) {

	.job-buffer .submitButtons {
		float: none;
		text-align: center;
	}

	.job-buffer .submitButtons .blueBtn {
		margin-left: 0;
	}
}

/* --------------------------------------------------*/
   /* Aanmaken melding & Rapportages zoeken */
/* --------------------------------------------------*/


#createMelding {
	margin:0 auto;
	padding-top: 40px;
}

 #zoekenRapportages {
 	margin:0 auto;
 	padding-top:0;
 }

	#createMelding form, #zoekenRapportages {
		display: block;
	}

		#createMelding form .row, #zoekenRapportages form .row {
			padding: 10px 0;
		}

		#createMelding label, #zoekenRapportages label {
			text-transform: uppercase;
			display: block;
			vertical-align: middle;
			font-weight: 400;
			margin: 4px 0;
		}

		#createMelding .submitButtons .greenBtn, #createMelding .submitButtons .blueBtn, #zoekenRapportages .submitButtons .greenBtn, #zoekenRapportages .submitButtons .blueBtn  {
			border-radius: 6px;
			box-shadow: none;
			border: 0 none;
			display: inline-block;
		}

.vanDatum, .totDatum {
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 10px;
	display: inline-block;
}

#zoekenRapportages form .row.buttonsZoeken {
	text-align: center;
	margin-top: 30px;
	padding-top: 35px;
}

	.buttonsZoeken .fa {
		padding-left: 8px;
	}

	.buttonsZoeken .blueBtn {
		margin-left: 8px;
	}

/* --------------------------------------------------*/
   /* documentencentrum */
/* --------------------------------------------------*/

.fa-folder {
	color:#f39c12;
	padding-right: 8px;
}

.documentenOverzicht td, .documentenOverzicht th {
	text-align: left;
}

/* --------------------------------------------------*/
   /* Admin instellingen (settings) */
/* --------------------------------------------------*/

.settingsOverview {
	margin-top: 40px;
}

/* --------------------------------------------------*/
   /* leverancier overzicht */
/* --------------------------------------------------*/

/*.leverancier-overzicht .submitButtons {
	text-align: right;
	float: right;
}*/

	.leverancier-overzicht .submitButtons .blueBtn {
		margin-left: 8px;
	}


		@media only screen and (max-width:768px) {

			.leverancier-overzicht .submitButtons {
				float: none;
				text-align: center;
			}

			.leverancier-overzicht .submitButtons .blueBtn {
				margin-left: 0;
			}
		}

/* --------------------------------------------------*/
   /* upload scherm */
/* --------------------------------------------------*/

.dz-default {
	padding: 50px;
	/*border: 1px solid #f39c12;*/
	border: 1px solid #3498db;
	margin:30px 0 10px 0;
}

	.dz-message {
		color:#3498db;
		cursor:pointer;
	}

	.dz-size, .dz-progress {
		display: none;
	}

/* --------------------------------------------------*/
   /* rechten */
/* --------------------------------------------------*/


.rechtenOverzicht td, .rechtenOverzicht th {
	text-align: left;
}

	@media only screen and (max-width:768px) {
		.rechtenOverzicht td, .rechtenOverzicht th {
			text-align: center;
		}
	}

/* --------------------------------------------------*/
   /* help */
/* --------------------------------------------------*/

.faqModuleWrapper {
	background: var(--main-color);
}

	.faqModuleWrapper h2 {
		text-align: center;
		color: #FFF;
		margin:30px 0 0;
	}

	.faqModule {
		padding-top: 22px;
		padding-bottom: 22px;
	}

		.faqModule input {
			color: #78848e;
			padding: 10px;
			border-radius: 5px;
			border:0 none;
			width: 100%;
			margin-top: 11px;
			font-weight: normal;
			color: #33383d;
		}

		.faqModule button {
			padding: 8px 20px;
			color: #fff;
			background: none;
			border: 2px solid #FFF;
			margin: 10px 0;
			border-radius: 8px;
			width: 100%;
		}

.faqMostWrapper {
	background: #FFF;
}

.faqMostAsked {
	padding-top:50px;
	padding-bottom:45px;
}

	.faqMostAsked ul {
		padding: 0;
	}

		.faqMostAsked ul.leftFaqGroup {
			float: left;
		}

		.faqMostAsked ul.rightFaqGroup {
			float: right;
		}

	.faqMostAsked li {
		list-style-type: none;
		padding-top: 20px;
	}

	.faqMostAsked a {
		font-size: 16px;
		font-weight: 300;
	}

.faqFormWrapper {
	background: #F7F7F7;
}

	.ContactForm {
		padding-top:40px;
		padding-bottom:40px;
	}

		.ContactForm p {
			font-weight: 300;
			color: #888;
		}

		.ContactForm label {
			font-weight: 400;
			text-transform: uppercase;
			margin-top: 30px;
			margin-bottom: 10px;
		}

		.ContactForm input, .ContactForm textarea {
			padding: 10px;
		}

		.ContactForm textarea {
			min-height: 245px;
		}

		.ContactForm .submitButtons {
			text-align: right;
			margin-top: 20px;
		}

	@media only screen and (max-width:768px) {
		.faqMostAsked ul.leftFaqGroup, .faqMostAsked ul.rightFaqGroup {
			float: none;
			margin-bottom: 0;
		}
	}

/* --------------------------------------------------*/
   /* reports - meldingen */
/* --------------------------------------------------*/

.reportsMeldingen .topBarGreen {
	margin-bottom: 10px;
}


/* --------------------------------------------------*/
   /* DMS buffer */
/* --------------------------------------------------*/

.dmsBuffer .generalTableHeader {
	padding-top: 20px;
	padding-bottom: 20px;
}

.dmsBuffer h4 {
	padding-bottom: 12px;
}

.dmsArchief {
	margin-bottom:40px;
}

.dmsBuffer .fa-info-circle {
	color: #3498db;
    margin-left: 7px;
    font-size: 16px;
}

/* custom dropdown green button */

.submitButtons .customGreenBtn{
    background: #fff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}



.generalTableItem, .generalTable td {
    cursor: pointer;
}

.leverancier-overzicht #deleteButton,
.locationsOverview #deleteButton,
.kOverview #deleteButton{
    margin-right: -8px;
}

.has-error .select2-selection{
	border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.block-wrapper-hover {
	height: 50px;
}

.block-content-hover {
	padding: 5px 0;
}

.title-page-head {
	color: rgba(0, 0, 0, 1);
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.title-job-module {
	color: rgba(0, 0, 0, 1);
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
	float:left;
}

.generalTableItemModule {
	background-color: #fff;
	color: #33383d;
	padding: 0;
	cursor: pointer;
}
.alert {
	margin-left: 20px;
    margin-right: 20px;
}