:root {
    --main-color: #2ecc71;
    --main-color-hover: #27ae60;

    /* --main-color: #18a5a5;
    --main-color-hover: #128383; */
    --main-color-lite: #28e0e033;
    --main-color-border: #39cccc;

    --blue-color: #3498db;
    --blue-color-hover: #2980b9;
  }